@forward 'global';
@use 'fonts/color' as color;
@use 'fonts/text' as text;
@forward 'breakpoint';
@use 'func' as func;

body{
    background: url(../images/bg-pattern-desktop.svg) no-repeat left, linear-gradient(135deg, hsl(0, 0%, 100%),  hsl(0, 100%, 98%)),
    linear-gradient(135deg,  hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
    background-size: cover;
    
}

.App{
    display: flex;

    img{
        // float: left;
        max-width: 31.6rem;
        
    
        
        
    }
    .soon-card{
        height: 100vh;
        background: url(../images/logo.svg) no-repeat ;
        background-position: 8rem 3rem;
        width: 100%;
        @include func.gridCenter();
        .wrapper{
            // border: solid;
            @include func.flexCenter();
            align-items: flex-start;
            flex-direction: column;
            max-width: 30rem;
            word-wrap: break-word;
            word-break: keep-all;
            font-family: text.$family;
            h1{
                span{
                    color: color.$destRed;
                    font-weight: 300;

                }
                margin: 10px 0;
                font-weight: 400;
                font-size: 80px;
                line-height: 1;
                text-transform: uppercase;
            }
            p{
                margin: 10px 5px;
                width: 28rem;
                color:color.$destRed;
                line-height:1.5;
            }
            form{
                position: relative;
                width: 100%;
                input , button{
                    
                    background: none;
                    border: 1px solid color.$destRed;
                    margin-top: 20px;
                    width: 80%;
                    border-radius: 20px;
                    padding: 15px;
                }
                button{
                    width: 80px;
                    height: 47.5px;
                    
                    border-radius: 25px;
                    position: absolute;
                    left: 20rem;
                    background-color: color.$softRed;
                    box-shadow: 5px 10px 20px -15px #000;
                    cursor: pointer;
                    transition: all .2s linear;
                    &:hover{
                        transform: scale(1.2);
                        box-shadow: 5px 10px 30px -10px #000;
                        
                    }
                }
            }
        }
        
    }

    
}